# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\MavenProject\SpringBootProject\spring-boot-hello1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
